
<nav class="navbar">
    <ul class="nav-links">
      <li><a routerLink='/products' routerLinkActive="router-link-active" >Home</a></li>
      <li><a routerLink='/about'>About</a></li>
      <li><a routerLink='/contact'>Contact Us</a></li>
    </ul>

    <div class="search-bar">
      <input type="text" placeholder="Search..." />
    </div>

    <div class="auth-buttons">
      <a routerLink="/signup"><button  class="btn">Sign Up</button></a>
      <a routerLink="/login"><button class="btn">Log In</button></a>
    </div>
  </nav>